<template name="debtTalkSelectDebt">
<div style="background-color:#9BCB65;height:100vh">
<div class="container" style="text-align:center;color:white">
<div class="row">
<div class="col-xs-12">
<h4 class="fancy" style="margin-bottom:0px">Debt Talk</h4>
<p style="font-size:1.5em">Tell us your story!</p>
<form id="debtSelect">
<fieldset class="form-group">
<select class="form-control formStyled" id="debttype1">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue1" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest1" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype2">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue2" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest2" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype3">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue3" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest3" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype4">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue4" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest4" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<div class="col-xs-12">
<button type="submit" class="btn btn-styled">Let's Go!</button>
</div>

</form>

</div>
</div>
</div>
</div>
</template>



<template name="debtTalk"></template>