<template name="debtTalkSelectDebt">
<div style="background-color:#9BCB65;height:100vh">
	{{>navigation_bar}}
<div class="container" style="text-align:center;color:white">
<div class="row">
<div class="col-xs-12">
<h4 class="fancy" style="margin-bottom:0px">Debt Talk</h4>
<p style="font-size:1.5em">Tell us your story!</p>
<form id="debtSelect">
<fieldset class="form-group">
<select class="form-control formStyled" id="debttype1">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue1" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest1" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype2">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue2" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest2" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype3">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue3" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest3" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<fieldset class="form-group" style="padding-top:20px;">
<select class="form-control formStyled" id="debttype4">
  <option value="cc">Credit Card Debt</option>
  <option value="loc">Line of Credit</option>
  <option value="sl">Student Loans</option>
  <option value="ml">Mortgage</option>
  <option value="other">Other Debt</option>
</select>
</fieldset>
<fieldset class="form-group form-styled">
<div class="row">
<div class="col-xs-6">
<input type="number" id="debtvalue4" class="form-control" placeholder="$">
</div>
<div class="col-xs-6">
<input type="number" id="debtinterest4" class="form-control" placeholder="%">
</div>
</div>
</fieldset>

<div class="col-xs-12">
<button type="submit" class="btn btn-styled">Let's Go!</button>
</div>

</form>

</div>
</div>
</div>
</div>
</template>



<template name="debtTalkSetGoals">
<div style="background-color:#9BCB65;height:100vh">
	{{>navigation_bar}}
<div style="background-color:#9BCB65;height:100%">
  <div class="container" style="text-align:center;color:white">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="fancy" style="margin-bottom:0px">Game Plan</h4>
        <p style="font-size:1.5em">Let's tackle your debt.</p>
      </div>
      <div class="col-xs-12" style="text-align:left">
      <hr>
      <p style="text-align:center">I want to bring my debt from</p>
      <h1 style="font-size:70px;text-align:center">{{totalDebt}}</h1>
      </div>
    </div>
  </div>
<div class="col-xs-12 debtSelectorTarget">
<div class="col-xs-3">
<a class="btn btn-debt-selector" id='conservative'>Conservative</a>
</div>

<div class="col-xs-3">
<a class="btn btn-debt-selector" id='moderate'>Moderate</a>

</div>

<div class="col-xs-3">
<a class="btn btn-debt-selector" id='aggressive'>Aggressive</a>

</div>
<div class="col-xs-3">
<a class="btn btn-debt-selector" id='extreme'>Extreme</a>

</div>

</div>
<div class="col-xs-12" style="padding-top:20px;">
<p style="color:white;text-align:center">To</p>
</div>
<div class="col-xs-12" style="text-align:center;color:white">
<h1 style="font-size:70px">{{target}}</h1>
</div>

<div class="col-xs-12" style="padding-top:20px;">
<p style="color:white;text-align:center">In</p>
</div>

<div class="col-xs-offset-1 col-xs-10">
<div id="slider1"></div>
<h5 style="color:white">{{month}} Months</h5>

</div>
<div class="col-xs-12" style="padding-top:20px;">
<p style="color:white;text-align:center">Paying</p>
</div>

<div class="col-xs-offset-1 col-xs-10">
<div id="slider2"></div>
<h5 style="color:white">{{amountMoney}} per Month</h5>
</div>
<div class="col-xs-12" style="padding-top:20px">
<button class="btn btn-styled" id="goalSettingContinue">Game time.</button>
</div>
</div>
</div>
</template>
