<template name="home">
<!--
<div class="col-xs-12">
  <div class="container">
    <div class="jumbotron">
      <h2>Hello Team</h2>
      <h1>Welcome to DebtFree</h1>
      <h2>Start by logging in with Facebook</h2>
      {{> loginButtons}}
      {{ #if currentUser}}
        <button class="btn btn-default" type="button">Try Random</button>
        {{#if myAppVariable}}
            <h3>{{myAppVariable}}</h3>
        {{/if}}
       {{/if}} 
    </div>
  </div>
  </div>!-->
  {{> debtTalkSelectDebt}}
</template>



<template name="theme">
<div style="background-color:#9BCB65;height:100vh">
<div class="container" style="text-align:center;padding-top:100px;color:white">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<img src="http://i.imgur.com/NIkF3IO.png" height="100px">
  <h1 class="fancy">Hello!</h1>
  <p style="font-size:2em">DebtFree is a super cool app to calculate debt and figure out the best way to pay off your debts.</p>
</div>
</div>
</div>
</div>

</template>


<template name="debtTalkSelectDebt">
<div class="container">
<div class="row">
<div class="col-xs-12">
<h2 class="fancy">Debt Talk</h2>


</div>
</div>

</div>

</template>