<template name="home">
  {{> onboarding}}
</template>

<template name="onboarding">
<div style="background-color:#00A896;height:50vh">
<div class="container" style="text-align:center;padding-top:100px;color:white">
<div class="row">
<div class="col-xs-12">
  <h1 style="font-size:3em;margin-bottom:20px">Money Buddy</h1>
<img src="http://i.imgur.com/DqHIdwn.png" height="150px">
</div>
</div>
</div>
</div>
<div style="height:50vh">
<div class="vertical-align" style="margin-top:-40px">
<div class="container" style="text-align:center">
<h2 style="color:#00A896">Simplify your debt.</h2>
<h2 style="color:#00A896">Simplify your life.</h2>
<h2 style="color:#00A896">Simple.</h2>
</div>
<div class="row" style="margin-top:20px">
<div class="container">
<div class="col-xs-6">
<button class="btn btn-styled-cool" style="width:100%" id="loginWithFacebook">Facebook</button>
</div>
<div class="col-xs-6">
<button class="btn btn-styled-cool" style="width:100%" id="loginWithEmail">Email</button>
</div>
</div>
</div>
</div>
</div>

<!--
<div class="col-xs-6">
<button class="btn btn-styled" style="width:100%" id="loginWithFacebook">Facebook</button>
</div>
<div class="col-xs-6">
<button class="btn btn-styled" style="width:100%" id="loginWithEmail">Email</button>
</div>
</div>
!-->

</template>



