<template name="impactCalculator">
<div style="background-color:#00A896;height:100vh">
	{{>navigation_bar}}
<div class="container" style="text-align:center;color:white">
<div class="row">
<div class="col-xs-12" style="text-align:left">
<h3 style="font-size:50px;text-align:center">Ask Manny!</h3>
<p style="font-size:1.5em;text-align:center;color:#F0F3BD" class="wow bounceInDown">Hi {{currentUser.services.facebook.name}}, Talk to me!</p>
</div>

<div class="wow bounceInDown" data-wow-delay="1s" style="text-align:left">
<div class="col-xs-12">



</div>
<div class="col-xs-12" style="padding-right:0px">
<p style="font-size:1em;padding-top:5px;text-align:center">Hi Manny! So... I was thinking of going out tonight or making a purchase that may end up costing me</p> <input type="number" style="background-color:transparent;border:0;width:100%;font-size:1.5em;border-bottom:solid 1px white;display:inline;text-align:center" placeholder="$10" id="impactAmount">

</div>
<div class="col-xs-3" style="padding-right:0px">

</div>
<div class="col-xs-9" style="padding-left:0px">
<p style="font-size:1em;padding-top:10px">Could you please tell me the impact?</p>
</div>

<div class="row">
<div class="container">
<div class="col-xs-12" style="margin-top:20px">
<p style="font-size:1.5em;text-align:center;color:#F0F3BD" class="wow bounceInDown">Well, {{currentUser.services.facebook.name}}... A {{impactAmount}} payment towards your total debt Would result in you achieving peace of mind and knocking out your total debt</p>
<!--
<select class="form-control formStyled" style="text-align:center;width:100%;text-align-last:center" id="impactCalculatorAction">
  <option value="ccdebt" style="text-align:center">Credit Card Debt</option>
  <option value="studentloans" style="text-align:center">Student Loans</option>
</select>
!-->
<h1 style="text-align:center;color:#F0F3BD">{{daysReduced}}</h1>

<p style="font-size:1.5em;text-align:center;color:#F0F3BD">Days ahead of schedule ;)</p>
</div>
</div>
</div>


</div>
</div>


</div>
</div>



<!--
<p style="font-size:1em;text-align:left">Hi Manny! I might</p>
<select class="form-control formStyled" id="impactCalculatorAction">
  <option value="goout">Go out</option>
  <option value="makebuy">Make a Purchase</option>
</select>

<p style="font-size:1em;text-align:left">and Spend</p>
<input type="number" style="background-color:transparent;border:0;width:100%;font-size:1.5em;border-bottom:solid 1px white" placeholder="$10">
<button class="btn btn-styled" style="margin-top:20px">What does this mean?</button>
</div>
</div>
</div>
</div>
</div>
!-->

</template>