<template name='leftScreen'>
<div class='swiper-content'>
	<h3>How much is my interest costing me?</h3>

	<br><br>
	<div class="col-xs-4"></div>
	<div class="leftScreen-graphs col-xs-2">
		<canvas id="daily-graph" width="60" height="60" class="interest-graph">
		</canvas>

		<canvas id="weekly-graph" width="60" height="60" class="interest-graph">
		</canvas>

		<canvas id="monthly-graph" width="60" height="60" class="interest-graph">
		</canvas>

		<canvas id="yearly-graph" width="60" height="60" class="interest-graph">
		</canvas>
	</div>

	<div class="leftScreen-icons col-xs-6">
	</div>
</div>

<script>
	var values = [
		{
			name: "daily-graph",
			value: 6,
			color: "#F7464A",
		},
		{
			name: "weekly-graph",
			value: 4,
			color: "#F7464A",
		},
		{
			name: "monthly-graph",
			value: 3,
			color: "#F7464A",
		},
		{
			name: "yearly-graph",
			value: 5,
			color: "#F7464A",
		}
	];

	for (var data of values) {
		new Chart(document.getElementById(data.name).getContext("2d")).Doughnut([{
				value: data.value,
				color: data.color,
				highlight: data.color,
				label: ""
			},
			{
				value: 10 - data.value,
				color: "#FFFFFF",
				highlight: "#FFFFFF",
				label: ""
			}]);
		}
</script>
</template>
