<template name='leftScreen'>
<div class='swiper-content'>
	<h3>How much is my interest costing me?</h3>

	<div class="col-xs-12">


	</div>

	<div class="leftScreen-graphs container">
	<div class="col-xs-6">
		<canvas id="daily-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Daily</h4>
		</div>
		<div class="col-xs-6">
		<canvas id="weekly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Weekly</h4>
		</div>
		</div>
		<div class="container">
		<div class="col-xs-6">
		<canvas id="monthly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Monthly</h4>
		</div>
		<div class="col-xs-6">
		<canvas id="yearly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Yearly</h4>
		</div>
	</div>

	<div class="leftScreen-icons col-xs-6">
	</div>
</div>

<script>
	var values = [
		{
			name: "daily-graph",
			value: 6,
			color: "#F7464A",
		},
		{
			name: "weekly-graph",
			value: 4,
			color: "#F7464A",
		},
		{
			name: "monthly-graph",
			value: 3,
			color: "#F7464A",
		},
		{
			name: "yearly-graph",
			value: 5,
			color: "#F7464A",
		}
	];

	for (var data of values) {
		new Chart(document.getElementById(data.name).getContext("2d")).Doughnut([{
				value: data.value,
				color: data.color,
				highlight: data.color,
				label: ""
			},
			{
				value: 10 - data.value,
				color: "#EEEEEE",
				highlight: "#FFFFFF",
			}]);
		}
</script>
</template>
