<template name='leftScreen'>
<div class='swiper-content'>
	<h3>How much is my interest costing me?</h3>

	<div class="col-xs-12" style="padding-bottom:20px">
	<div class="col-xs-3">
		<a class="btn btn-date-selector" id='coffees'>Coffees</a>
		</div>

		<div class="col-xs-3" style="padding-left:10px">
		<a class="btn btn-date-selector" id='beers'>Beers</a>

		</div>

		<div class="col-xs-3" style="padding-left:10px">
		<a class="btn btn-date-selector" id='transit'>Transit</a>

		</div>
		<div class="col-xs-3">
		<a class="btn btn-date-selector" id='dinners'>Dinners</a>

		</div>
	</div>
	
	<div class="row">
	<div class="col-xs-12">
	<img src="{{currentPicture}}" height="200px">
	<h3>${{currentPrice}}</h3>


	</div>
	</div>

	<div class="row leftScreenCards">
	<div class="col-xs-6" style="background-color:#68B0AB">

	</div>

	<div class="col-xs-6" style="background-color:#8FC0A9">

	</div>

	<div class="col-xs-6" style="background-color:#0B5351">

	</div>

	<div class="col-xs-6" style="background-color:#4E8098">

	</div>



	</div>

	<!--



	

	<div class="row leftScreenCards">
	<div class="col-xs-6" style="background-color:#68B0AB">
	<div class="vertical-align">
	<img src="http://i.imgur.com/HwnNoq5.png" height="100px">
	<p style="color:white;padding-top:10px;font-size:1.5em"><span id="coffees"></span>2.3 Coffees/Day</p>
	</div>
	</div>

	<div class="col-xs-6" style="background-color:#8FC0A9">
	<div class="vertical-align">
	<img src="http://i.imgur.com/nXG3OoE.png" height="100px">
	<p style="color:white;padding-top:10px;font-size:1.5em">2.3 Beers/Day</p>


	</div>
	</div>

	<div class="col-xs-6" style="background-color:#0B5351">
	<div class="vertical-align">
	<img src="http://i.imgur.com/wAPFccR.png" height="100px">
	<p style="color:white;padding-top:10px;font-size:1.5em">1.2 Tokens/Day</p>
	</div>
	</div>

	<div class="col-xs-6" style="background-color:#4E8098">

	</div>




	</div>
	<div class="leftScreen-graphs container">
	<div class="col-xs-6">
		<canvas id="daily-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Daily</h4>
		</div>
		<div class="col-xs-6">
		<canvas id="weekly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Weekly</h4>
		</div>
		</div>
		<div class="container">
		<div class="col-xs-6">
		<canvas id="monthly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Monthly</h4>
		</div>
		<div class="col-xs-6">
		<canvas id="yearly-graph" width="100%" class="interest-graph">
		</canvas>
		<h4 style="margin-top:0px">Yearly</h4>
		</div>
	</div>

	<div class="leftScreen-icons col-xs-6">
	</div>
	!-->
</div>

<script>
	var values = [
		{
			name: "daily-graph",
			value: 6,
			color: "#F7464A",
		},
		{
			name: "weekly-graph",
			value: 4,
			color: "#F7464A",
		},
		{
			name: "monthly-graph",
			value: 3,
			color: "#F7464A",
		},
		{
			name: "yearly-graph",
			value: 5,
			color: "#F7464A",
		}
	];

	for (var data of values) {
		new Chart(document.getElementById(data.name).getContext("2d")).Doughnut([{
				value: data.value,
				color: data.color,
				highlight: data.color,
				label: ""
			},
			{
				value: 10 - data.value,
				color: "#EEEEEE",
				highlight: "#FFFFFF",
			}]);
		}
</script>
</template>
