<template name='createAccount'>
<div style="background-color:#9BCB65;height:100vh">
<div class="container" style="text-align:center;color:white;padding-top:30vh">
<div class="row">
<div class="col-xs-12">
<h6 class="fancy" style="font-size:3em">Roll with Email</h6>
<form>
<fieldset class="form-group" style="text-align:left">
	<label for="email">Email</label>
	<input type="email" class="formStyled form-control" name="email" id="email">
	<label for="password">Password</label>
	<input type="password" class="formStyled form-control" name="password" id="password">
</fieldset>
<div class="col-xs-6">
<button class="btn btn-styled" id="login">Login</button>
</div>
<div class="col-xs-6">
<button class="btn btn-styled" id="register">Register</button>
</div>



</form>


</div>
</div>
</div>
</div>




</template>