<template name="navigation_bar">
	<a href='#' onclick="openNav()" style="z-index: 21 !important;">
		<div class='hamburger-button'></div>
	</a>
<nav class='navigation-bar'>
	<ul class='nav-list'>
		<li class='nav-item'><a href='#' class='nav-link'>Impact Calculator</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Achievements</a></li>
		<li class='nav-item'><a href='#' class='nav-link current'>Dashboards</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Track It</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Debt Tips</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Financial Planner</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Budgetting Tool</a></li>
	</ul>
</nav>
</template>
