<template name="navigation_bar">
	<a href='#' onclick="openNav()" style="z-index: 21 !important;">
		<div class='hamburger-button'></div>
	</a>
<nav class='navigation-bar'>
	<ul class='nav-list'>
		<li class='nav-item'><a href='{{pathFor route="impactCalculator"}}' class='nav-link' id="impactCalculator" name="impactCalculator">Impact Calculator</a></li>
		<li class='nav-item'><a href='{{pathFor route="challengesMain"}}' class='nav-link' id="challengesMain">Challenges</a></li>
		<li class='nav-item' style="position:absolute;bottom:10px;left:10px"><a href='{{pathFor route="home"}}' class='nav-link disable-link' id="logout">Logout</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Achievements</a></li>
		<li class='nav-item'><a href='{{pathFor route="dashboard"}}'  id="dashboard" class='nav-link'>Dashboards</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Track It</a></li>
		<li class='nav-item'><a href='#' class='nav-link'>Debt Tips</a></li>
	</ul>
</nav>

<script>
currentPage = '#' + Router.current().route.getName();
$(currentPage).addClass('current');
</script>


</template>
