<template name='rightScreen'>
	<canvas id='chart2' width='400' height='400'></canvas><br><br>
	<a href="/debttalksetgoals" class="btn-primary btn">Goal Setting</a>
	<script>
		/* Assuming that data will reach this point in the following form, 
		   more or less:

		var loans = {
					loan: { 
							payments: [], 
							dates: []
						  }
					};

			That is, pre-parsed as x and y data.
		 */
		var data1 = {
			labels: ["2015", "2016", "2017", "2018"],
			datasets: [
				{
					label: "Student Loan",
					fillColor: "rgba(220,220,220,0.2)",
					strokeColor: "rgba(220, 220, 220,1)",
					pointColor: "rgba(220, 220, 220, 1)",
					pointStrokeColor: "#fff",
					pointHighlightFill: "#fff",
					pointHighlightStroke: "rgba(220, 220, 220, 1)",
					data: [95, 89, 80, 59, 32, 12, 0]
				},
			]
		}

		var data2 = {
			labels: ["January", "February", "March"],
			datasets: [
				{
					label: "Student Loan",
					fillColor: "rgba(220,220,220,0.2)",
					strokeColor: "rgba(220, 220, 220,1)",
					pointColor: "rgba(220, 220, 220, 1)",
					pointStrokeColor: "#fff",
					pointHighlightFill: "#fff",
					pointHighlightStroke: "rgba(220, 220, 220, 1)",
					data: [65, 59, 80, 81, 56, 55, 40]
				},
			]
		}

		var ctx = document.getElementById("chart2").getContext("2d");
		var data = data1;
		var firstChart = new Chart(ctx).Line(data);

	</script>
</template>
